
# Tập tin tạm thời của Windows
######################
*.tmp
*.temp
*.swp
*.swo
*.bak
*.old
*.orig


# Static files
######################
*.cache
.cache-loader


# SvelteKit build output
.svelte-kit/


# .NET
######################
*.dll
*.exe
*.pdb


# Visual Studio Code
######################
.vscode/
*.code-workspace

# Visual Studio
######################
.vs/
*.csproj.user
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.ide.*
.resharper
_ReSharper.Caches/
packages/
*.ncrunch*
*.ncrunchsolution*
*.ncrunchproject*


# Temp Files
######################
*.tmp
*.temp

# Webpack
######################
*.cache
.cache-loader

# End of File

.fake
DaNangTourism/DaNangTourism.Server/obj
DaNangTourism/DaNangTourism.Server/bin
danangtourism.client/bin
danangtourism.client/obj
