@model DaNangTourism.Models.Destination

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Destination</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="destinationID" class="control-label"></label>
                <input asp-for="destinationID" class="form-control" />
                <span asp-validation-for="destinationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="describe" class="control-label"></label>
                <input asp-for="describe" class="form-control" />
                <span asp-validation-for="describe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_openTime" class="control-label"></label>
                <input asp-for="_openTime" class="form-control" />
                <span asp-validation-for="_openTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_closeTime" class="control-label"></label>
                <input asp-for="_closeTime" class="form-control" />
                <span asp-validation-for="_closeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_openDayTime" class="control-label"></label>
                <input asp-for="_openDayTime" class="form-control" />
                <span asp-validation-for="_openDayTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_imgURL" class="control-label"></label>
                <input asp-for="_imgURL" class="form-control" />
                <span asp-validation-for="_imgURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_rating" class="control-label"></label>
                <input asp-for="_rating" class="form-control" />
                <span asp-validation-for="_rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
